/* 1200 / 16 = 75em */
@media(max-width:75em) {
  .suscribe {
    width: 50%;
  }
}
/* 710px / 16 = 44em*/
@media(max-width: 44em){
  .suscribe {
    width: 60%;
  }
}

/* 550px / 16 = 44em*/
@media(max-width: 44em){
  .suscribe {
    width: 90%;
  }
}

/* 995px / 16 = 62em */
@media(max-width: 62em) {
  html {
    /* Default 16px = 9.5px / 16px = 59.37% */
    font-size: 59.37%;;
  }

  .box {
    gap: 1.5rem;
  } 

  .header-text {
    font-size: 5rem;
  }
}

/* 901px / 16 = 56em */
@media(max-width: 56em) {
  html {
  /* Default 16px = 10px / 16px = .625 = font-size = 62.5% / 10px = 1rem */
  font-size: 62.5%;;
  }

  .box {
    width: 95% ;
    flex-direction: column-reverse;

    padding: 0;
    margin: 0;
  }

  .image-content img {
    /* Imagen cambiada a => [Mobile] */
    content: url('/assets/images/illustration-sign-up-mobile.svg');
    width: 100%;
  }
}

/* 680px / 16 = 43em */
@media(max-width: 43em) {
  html {
    font-size: 62.5%;;
    }
}

/* 450px / 16 = 28em */
@media(max-width: 28em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56%;
    }

  .header-text {
    font-size: 4.8rem;
    }

    body {
      background-color: white;
    }
}