* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/assets/fonts/Roboto-Bold.ttf') ;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf') ;
}

html {
  /* Default 16px = 10px / 16px = .625 = font-size = 62.5% / 10px = 1rem */
  font-size: 62.5%;;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  background-color:  hsl(234, 29%, 20%);
}
/*******************************/
.container {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  width: 95%;
  height: auto;

  display: flex;
  gap: 4rem;
  
  overflow: hidden;

  box-shadow: 0px 2px 11px -1px rgba(0,0,0,0.5);
}

/*******************************/
/******** CONTENT *************/
/*****************************/
.text-content {
  font-family: 'Roboto-Regular';
  padding: 3rem 2rem;
  color: hsl(235, 18%, 26%);
}

.header-text {
  font-size: 5.5rem;
  font-family: 'Roboto-Bold';
  color: hsl(235, 18%, 26%);
}

.description-text {
  font-size: 1.9rem; 
  margin-bottom: 3rem;
  line-height: 1.5;
}

/*******************************/
/*/////////////////////////// */
/*****************************/



/*******************************/
/******** ATTRIBUTES (UL) *****/
/*****************************/
.list {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 2rem;
}

.attribute {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-attribute {
  font-size: 1.7rem;
  color: hsl(236, 16%, 17%);
}
/*******************************/
/*/////////////////////////// */
/*****************************/



/*******************************/
/** BUTTON MONTHLY-NEWSLETTER */
/*****************************/
.input-email {
  display: block;
  width: 100%;
}

.monthly-newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-top: 3rem;
}

.label-email {
  font-size: 1.75rem;
  font-family: 'Roboto-Bold';
}

.input-email {
  margin-top: 5px;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  border: 1px solid hsl(231, 7%, 60%);

  font-family: inherit;
  font-size: 1.6rem;
}

.btn-submit {
  padding: 2rem 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: 'Roboto-Bold';
  background-color:  hsl(234, 29%, 20%);
  color: white;

  width: 100%;
  transition: all 0.3s;
}

.btn-submit:hover {
  background-color: hsl(4, 100%, 67%);
}

.input-email:hover {
  outline: none;
}

/*****************/
/** VALIDATION **/
.input-email:required {
  border: 2px solid green;
  color: green;
  background-color: violet;
}

.input-email:valid {
  border: 2px solid green;
  color: green;

  background-color: #ddffdd;
}

.input-email:invalid {
  border: 1px solid rgba(217, 28, 28, 0.496);
  color: rgba(255, 0, 0, 0.832);

  background-color: #ffdddd;
}
/*****************/


/*******************************/
/*/////////////////////////// */
/*****************************/


/********************************/
/*** THANKS - SUSCRIBE MODAL ***/
/******************************/
.hidden {
  display: none;
}

.icon-img {
  height: 5rem;
}

.suscribe {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  width: 45%;
}

.container-txt {
  padding: 2rem 3rem;
}

.secondary-header {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  font-family: 'Roboto-Bold';
  color:hsl(234, 29%, 20%);
}

.suscribe-text {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  font-family: 'Roboto-Regular';
  color:hsl(234, 29%, 20%);
}

.email-direction {
  font-family: 'Roboto-Bold';
}

.btn-dimiss {
  padding: 2rem 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: 'Roboto-Bold';
  background-color:  hsl(234, 29%, 20%);
  color: white;

  transition: all 0.3s;
  width: 100%;
}

.btn-dimiss:hover {
  background-color: hsl(4, 100%, 67%);
}

/*******************************/
/*/////////////////////////// */
/*****************************/